.idea/
**/*.pyc
**/*.so
**/build
concorde_tmpfiles
CVRP_train/
CVRP_val/
LKH
old_LKH
result
SRC_swig
SRC_swig/LKH_wrap.c
SRC_swig/LKH.py
SRC/OBJ
test/*.pkl
tmp/
train/*.pkl
train/*.icloud
val/*.pkl
*.zip
*.xz
*.pt
.DS_Store
