.idea/
**/*.pyc
**/*.so
**/build
concorde_tmpfiles
CVRP_train/
CVRP_val/
LKH
old_LKH
result
SRC_swig
SRC_swig/LKH_wrap.c
SRC_swig/LKH.py
SRC/OBJ
test/*.pkl
tmp/
train/*.pkl
val/*.pkl
*.zip
train/.118.pkl.xz.icloud
train/.119.pkl.xz.icloud
train/.120.pkl.xz.icloud
train/.121.pkl.xz.icloud
train/.122.pkl.xz.icloud
train/.123.pkl.xz.icloud
train/.124.pkl.xz.icloud
train/.125.pkl.xz.icloud
train/.126.pkl.xz.icloud
train/.127.pkl.xz.icloud
train/.128.pkl.xz.icloud
train/.129.pkl.xz.icloud
train/.130.pkl.xz.icloud
train/.131.pkl.xz.icloud
train/.132.pkl.xz.icloud
train/.133.pkl.xz.icloud
train/.134.pkl.xz.icloud
train/.135.pkl.xz.icloud
train/.136.pkl.xz.icloud
train/.137.pkl.xz.icloud
train/.138.pkl.xz.icloud
train/.139.pkl.xz.icloud
train/.140.pkl.xz.icloud
train/.141.pkl.xz.icloud
train/.142.pkl.xz.icloud
train/.143.pkl.xz.icloud
train/.144.pkl.xz.icloud
train/.145.pkl.xz.icloud
train/.146.pkl.xz.icloud
train/.147.pkl.xz.icloud
train/.148.pkl.xz.icloud
train/.149.pkl.xz.icloud
train/.150.pkl.xz.icloud
train/.151.pkl.xz.icloud
train/.152.pkl.xz.icloud
train/.153.pkl.xz.icloud
train/.154.pkl.xz.icloud
train/.155.pkl.xz.icloud
train/.156.pkl.xz.icloud
train/.157.pkl.xz.icloud
train/.158.pkl.xz.icloud
train/.159.pkl.xz.icloud
train/.160.pkl.xz.icloud
train/.161.pkl.xz.icloud
train/.162.pkl.xz.icloud
train/.163.pkl.xz.icloud
train/.164.pkl.xz.icloud
train/165.pkl.xz
train/166.pkl.xz
train/167.pkl.xz
train/168.pkl.xz
train/169.pkl.xz
train/170.pkl.xz
train/171.pkl.xz
train/172.pkl.xz
train/173.pkl.xz
train/174.pkl.xz
train/175.pkl.xz
train/176.pkl.xz
train/177.pkl.xz
train/178.pkl.xz
train/179.pkl.xz
train/180.pkl.xz
train/181.pkl.xz
train/182.pkl.xz
train/183.pkl.xz
train/184.pkl.xz
train/185.pkl.xz
train/186.pkl.xz
train/187.pkl.xz
train/188.pkl.xz
train/189.pkl.xz
train/190.pkl.xz
train/191.pkl.xz
train/192.pkl.xz
train/193.pkl.xz
train/194.pkl.xz
train/195.pkl.xz
train/196.pkl.xz
train/197.pkl.xz
train/198.pkl.xz
train/199.pkl.xz
train/200.pkl.xz
train/201.pkl.xz
train/202.pkl.xz
train/203.pkl.xz
train/204.pkl.xz
train/205.pkl.xz
train/206.pkl.xz
train/207.pkl.xz
train/208.pkl.xz
train/209.pkl.xz
train/210.pkl.xz
train/211.pkl.xz
train/212.pkl.xz
train/213.pkl.xz
train/214.pkl.xz
train/215.pkl.xz
train/216.pkl.xz
train/217.pkl.xz
train/218.pkl.xz
train/219.pkl.xz
train/220.pkl.xz
train/221.pkl.xz
train/222.pkl.xz
train/223.pkl.xz
train/224.pkl.xz
train/225.pkl.xz
train/226.pkl.xz
train/227.pkl.xz
train/228.pkl.xz
train/229.pkl.xz
train/230.pkl.xz
train/231.pkl.xz
train/232.pkl.xz
train/233.pkl.xz
train/234.pkl.xz
train/235.pkl.xz
train/236.pkl.xz
train/237.pkl.xz
train/238.pkl.xz
train/239.pkl.xz
train/240.pkl.xz
train/241.pkl.xz
train/242.pkl.xz
train/243.pkl.xz
train/244.pkl.xz
train/245.pkl.xz
train/246.pkl.xz
train/247.pkl.xz
train/248.pkl.xz
train/249.pkl.xz
train/250.pkl.xz
train/251.pkl.xz
train/252.pkl.xz
train/253.pkl.xz
train/256.pkl.xz
